*.xls
*.xlsx
*.csv
*.hdf
*.pyc
*.zip
*.part
*.parquet
*.log
*.pptx
*app_config*
Python-3.8.0*
Miniconda3-latest-Linux-x86_64.sh
WITSML_Development/dataset/*
!RealTime_Test/*
Data/*
*workspace*
*SSL*/
Streamlit_App_v3/app_config.json
Streamlit_App_v3/Config/machine_id_v4
Streamlit_App_v3/app_config.json

Streamlit_App_v3/Logs/
