*.xls
*.xlsx
*.csv
*.hdf
*.pyc
*.zip
*.part
*.parquet
*.log
*app_config*
Python-3.8.0*
Miniconda3-latest-Linux-x86_64.sh
WITSML_Development/dataset/*
!RealTime_Test/*
Data/*
*workspace*
*SSL*/